.hide {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    cursor: default;
    background-color: #232328;
    color: #F7F9FB;
    font-family: 'Mulish', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    position: absolute;
    right: 20px;
    top: 20px;
}

.values {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 70px;
    font-size: 21px;
}

.values * {
    display: block;
}

.value-num {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.rtp {
    position: absolute;
    left: 25%;
    top: 20px;
    transform: translate(-50%);
    font-size: 18px;
    text-align: center;
}

.actions {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    font-size: 18px;
    text-align: center;
}

.action {
    cursor: pointer;
    border: 2px solid #07A0EC;
    border-radius: 8px;
    width: 120px;
    margin-top: 10px;
    height: 72px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.action-available {
    background-color: #07A0EC;
}

#actions_action {
    margin-top: 10px;
}

.action-info {
    display: block;
}

.mul {
    position: absolute;
    left: 75%;
    top: 20px;
    transform: translate(-50%);
    font-size: 18px;
    text-align: center;
}

#actions_action, #actions_reset {
    height: 40px;
    line-height: 40px;
}
